<div class="container_grueso">
    <h2>Intestino grueso</h2>
    <p>Del intestino delgado, el kimo entra el intestino grueso. Con la excepción de algunos ácidos grasos volátiles y vitaminas, hay una pequeña absorción de alimentos nutritivos a este nivel (vanLoon, 1976). El intestino grueso es esa parte del tubo digestivo entre el ileon y el ano. Dependiendo de la especie, la ingesta del intestino delgado entra el intestino grueso por la válvula ileocecal (caballos, ruminates, los puercos) o válvula de ileocólica (perros). Dentro del intestino grueso, se reconocen tres segmentos principales:
<li>El ciego es un fondo de saco que  en humanos lleva una extensión parecida a un gusano llamado el apéndice de vermiforme.</li>
<li>El colon constituyen la mayor de  longitud del intestino grueso y se subclasifica en ascendente, transverso y descendente.</li>
<li>El recto es el segmento más corto y terminal del tubo digestivo, continúa con el canal anal.</li>
</p>
</div>
