<div class="container_delgado">
    <h2>Intestino delgado</h2>
    <p>Desde el abomaso, el alimento sale el estómago y entra el intestino delgado. El intestino delgado incorpora tres características que justifican su inmensa superficie de absorción: 
<li>Pliegues mucosos: la superficie interior del intestino delgado no está plana, posee dobleces circulares, que no sólo aumentan la superficie, sino que  ayudan a mezclar la ingesta actuando como deflectores.</li>
        <li>Villi: la mucosa forma multitudes  proyecciones que salen al lumen y se cubren con células de epiteliales. Las enzimas que secretan los villi ayudan a la digestión química.</li>
<li>Microvilli: la membrana del plasma  lumenal de las células de epiteliales absortivas están tapizadas con microvilli densamente agrupados.</li>
</p>
    <iframe width="560" height="315" src="../assets/Vaca3D.html" frameborder="0" allowfullscreen></iframe>
</div>
