<div class="container_reticulo">
    <h2>Reticulo y rumen</h2>
    <p>El retículo y rumen son los primeros estómagos de los rumiantes. El contenido del retículo es mezclado con los del rumen casi continuamente (una vez por minuto). Ambos estómagos comparten una población densa de microorganismos (bacteria, protozoos y fungi) y frecuentemente son llamados el "retículo-rumen." El rumen es un vaso de fermentación grande que puede contener hasta 100-120 kg de materia en digestión. Las partículas de fibra se quedan en el rumen de 20 a 48 horas porque la fermentación bacteriana es un proceso lento.
El retículo es una intersección de caminos donde partículas que entran o salgan del rumen están separadas. Solo las partículas que tienen un tamaño pequeño (<1-2 mm) o son densos (>1.2 g/ml) pueden proceder al tercer estómago
</p>
        <iframe width="560" height="315" src="../assets/Vaca3D.html" frameborder="0" allowfullscreen></iframe>
</div>
